@model IEnumerable<Lab4uTest.Usuario>

@{
    ViewBag.Title = "Administrador de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="mb-5">
    <div class="header-administrador col-12 mb-5">
        <h2 class="pb-2">Administrador de Usuarios</h2>
        
            <h5 class="float-left">Usuarios Disponibles</h5>
            <div class="d-flex  col-md-3 justify-content-sm-center float-md-right ">
                <a class="btn col-sm-12 btn-primary" href="/Usuarios/Create"><i class="fa fa-plus-circle" aria-hidden="true"></i> Crear nuevo</a>
            </div>
            <div style="clear: both;"></div>
    </div>

    <div class="titulos_datos d-none d-md-flex flex-row mt-5">
        <div class="col-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </div>
        <div class="col-3">
            @Html.DisplayNameFor(model => model.Correo)
        </div>
    </div>

    @foreach (var item in Model)
    {

        <div class="container-usuarios mt-4 d-flex flex-wrap  align-items-center">
            
                <div class="container-usuarios_info col-md-3 col-sm-6 ">
                    <span class="align-middle d-md-none d-lg-none"><strong>Nombre:</strong></span> <br class="d-md-none d-lg-none" />
                    <span class="align-middle">@Html.DisplayFor(modelItem => item.Nombre) </span>
                </div>
                <div class="container-usuarios_info col-md-3 col-sm-6 align-self-center">
                    <span class="align-middle d-md-none d-lg-none"><strong>Correo:</strong></span>
                    <span class="align-middle"> @Html.DisplayFor(modelItem => item.Correo)</span>
                </div>
            
            <div class="container-usuarios_acciones col-md-5 col-sm-12 ml-auto" >
                <a class="btn btn-success col-sm-12 col-lg-3" href="/Usuarios/Edit/@item.ID"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                <a class="btn btn-info col-sm-12 col-lg-3" href="/Usuarios/Details/@item.ID"><i class="fa fa-user" aria-hidden="true"></i> Detalles</a>
                <a class="btn btn-danger col-sm-12 col-lg-3"    href="/Usuarios/Delete/@item.ID"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</a>
            </div>
        </div>



    }
</section>

