@{
    ViewBag.Title = "Página Principal";
}
<section class="mt-5">
    <div class="jumbotron">
        <h1>¡Bienvenido al administrador de usuarios de Lab4U!</h1>
        <p class="lead">Bienvenido a esta página de prueba de Lab4U, donde podrás acceder al administrador de usuarios.</p>
        <div class="d-flex justify-content-center">
            <a href="/Usuarios/Index" class="btn btn-primary  btn-block col-lg-6"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ir al administrador </a>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6 inicio-informaciones mb-5">
            <h2>¿Quienes somos?</h2>
            <p>
                Lab4U es una empresa con el sueño de democratizar el acceso a una educación de calidad!Estamos comprometidos en poner las mejores herramientas educativas frente a profesores y estudiantes. 
                Creemos que el próximo Einstein o Marie Curie podrían estar en una sala de clases hoy. Descubrirlos es solo cuestión de inspirarlos.
            </p>
            <a class="btn btn-outline-secondary" rel="noopener" target="_blank" href="https://lab4u.co/"> Visitanos <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-6 inicio-informaciones mb-5">
            <h2>¿Quien hizo esta página?</h2>
            <p>Esta página fue hecha por Tomás Gálvez como prueba técnica para esta empresa! Puedes visitar su página web para saber más sobre el con el botón de aquí abajo!</p>
            <a class="btn btn-outline-secondary" rel="noopener" target="_blank" href="https://versallesz.github.io/">Ir a ver <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>